In [1]:
2+3+9

14

In [2]:
2+4

6

In [3]:
3+9

12

In [4]:
99-73

26

In [5]:
23.54* -1432

-33709.28

In [6]:
100/7

14.285714285714286

In [7]:
100//7

14

In [8]:
100%7

2

In [9]:
5**3

125

In [10]:
((2+5)*(17-3)) / (4**3)

1.53125

In [11]:
500 * (.2 * 1.25)

125.0

Variables Question Solution

In [12]:
cost_of_ice_bag =1.25

In [13]:
profit_margin=.2

In [14]:
number_of_bags = 500

In [15]:
profit_margin

0.2

In [16]:
profit_per_bag= cost_of_ice_bag * profit_margin

In [17]:
profit_per_bag

0.25

In [18]:
total_profit = number_of_bags * profit_per_bag

In [19]:
total_profit

125.0

In [20]:
net_profit

NameError: name 'net_profit' is not defined

In [21]:
print("The grocery store makes a total profit of $", total_profit)

The grocery store makes a total profit of $ 125.0

In [22]:
#Using Function
##Store input data in variables
cost_of_ice_bag =1.25
profit_margin=.2
number_of_bags=500
##Calculation
profit_per_bag= cost_of_ice_bag*profit_margin
total_profit= number_of_bags*profit_per_bag
##Display the Result
print("The grocery store makes a total profit of $" ,total_profit)

The grocery store makes a total profit of $ 125.0

In [23]:
my_favorite_number = 1 #an inline comment

In [24]:
#This comment gets its own line
my_least_Favorite_number=3

In [25]:
"""This is a multi-line comment.
Write as little or as much as you'd like.

Comments are really helpful for people reading
your code, but try to keep them short & to-the-point.

Also, if you use good variable names, then your code is
often self explanatory, and you may not even need comments!
"""
a_neutral_number = 5

In [26]:
my_favorite_number =1
my_least_favorite_number=5
a_neutral_number=3

In [27]:
my_favorite_number ==1

True

In [28]:
my_favorite_number == my_least_favorite_number

False

In [29]:
my_favorite_number != a_neutral_number

True

In [30]:
a_neutral_number!= 3

False

In [31]:
my_least_favorite_number > a_neutral_number

True

In [32]:
my_favorite_number > my_least_favorite_number

False

In [33]:
my_favorite_number <10

True

In [34]:
my_least_favorite_number < my_favorite_number

False

In [35]:
my_favorite_number >=1

True

In [36]:
my_favorite_number>= 3

False

In [37]:
3+6<=9

True

In [38]:
my_favorite_number + a_neutral_number <=3

False

In [39]:
#Just like arithmetic operations, 
#the result of a comparison operation can also be stored in a variable.
cost_of_ice_bag = 11
is_ice_bag_expensive = cost_of_ice_bag >= 10
print("Is the ice bag expensive?", is_ice_bag_expensive)

Is the ice bag expensive? True

In [40]:
my_favorite_number > 0 and my_favorite_number <= 3

True

In [41]:
my_favorite_number > 0 and my_favorite_number >= 3

False

In [42]:
a_neutral_number == 3 or my_favorite_number < 0

True

In [43]:
a_neutral_number == 3 or my_favorite_number < 0

True

In [44]:
#The not operator returns False 
#if a condition is True and True if the condition is False.

In [45]:
not a_neutral_number==3

False

In [46]:
not my_favorite_number<0

True

In [47]:
not False

True

In [48]:
not True

False

In [49]:
(2>3 and 4<=5) or not (my_favorite_number <0 and True)

True

In [50]:
#If parentheses are not used, logical operators are applied from left to right

not True and 0 < 1 or False and True

False

In [51]:
plane_cost=5000
total_people_signed_up=29
ticket_cost=200

In [52]:
amount_received_by_company=total_people_signed_up*ticket_cost

In [53]:
total_profit=amount_received_by_company-plane_cost

In [54]:
total_profit

800

In [55]:
##storing information using variables
my_favorite_color ="Pink"

In [56]:
my_favorite_color

'Pink'

In [57]:
color1 , color2 , color3="Black","White","PInk"

In [58]:
color1

'Black'

In [59]:
color2

'White'

In [60]:
color3

'PInk'

In [61]:
color4=color5=color6="magenta"

In [62]:
color4

'magenta'

In [63]:
color5

'magenta'

In [64]:
color6

'magenta'

In [65]:
my_favorite_color ="PInk"

In [66]:
my_favorite_color

'PInk'

In [67]:
counter=10

In [68]:
counter=counter+1

In [69]:
counter

11

In [70]:
counter=10

In [71]:
#same as ' counter = counter + 4
counter += 4

In [72]:
counter

14

In [73]:
a_variable=23
is_today_saturday=False
my_favorite_car="Delorean"
the_3_musketeers=["AThos","Porthos","Aramis"]

In [74]:
a variable = 23

SyntaxError: invalid syntax (605469086.py, line 1)

In [75]:
today-sat=false

SyntaxError: cannot assign to operator (3969249797.py, line 1)

In [76]:
is_today_$aturday = False

SyntaxError: invalid syntax (3433388187.py, line 1)

In [77]:
my-favorite-car = "Delorean"

SyntaxError: cannot assign to operator (1843242419.py, line 1)

In [78]:
3_musketeers = ["Athos", "Porthos", "Aramis"]

SyntaxError: invalid decimal literal (3494872227.py, line 1)

In [79]:
# Built-in data types in python

In [80]:
a_variable

23

In [81]:
type(a_variable)

int

In [82]:
is_today_saturday

False

In [83]:
type(is_today_saturday)

bool

In [84]:
my_favorite_car

'Delorean'

In [85]:
type(my_favorite_car)

str

In [86]:
the_3_musketeers

['AThos', 'Porthos', 'Aramis']

In [87]:
type(the_3_musketeers)

list

In [88]:
#Integer
current_year=2023

In [89]:
current_year

2023

In [90]:
type(current_year)

int

In [91]:
a_large_negative_number = -23374038374832934334234317348343

In [92]:
a_large_negative_number

-23374038374832934334234317348343

In [93]:
type(a_large_negative_number )

int

In [94]:
#Float
pi=3.1415926

In [95]:
pi

3.1415926

In [96]:
type(pi)

float

In [97]:
a_number =5.0

In [98]:
a_number

5.0

In [99]:
type(a_number)

float

In [100]:
another_number =4.

In [101]:
another_number

4.0

In [102]:
type(another_number)

float

In [103]:
one_hundredth = 1e-2

In [104]:
one_hundredth

0.01

In [105]:
type(one_hundredth)

float

In [106]:
avogadro_number = 6.02214076e23

In [107]:
avogadro_number

6.02214076e+23

In [108]:
type(avogadro_number )

float

In [109]:
float(current_year)

2023.0

In [110]:
float(a_large_negative_number)

-2.3374038374832935e+31

In [111]:
int(pi)

3

In [112]:
int(avogadro_number)

602214075999999987023872

In [113]:
type(45 * 3.0)

float

In [114]:
type(45 * 3)

int

In [115]:
type(45/3)

float

In [116]:
type(10//2)

int

In [117]:
#Boolean
is_today_monday= True

In [118]:
is_today_monday

True

In [119]:
type(is_today_monday)

bool

In [120]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [121]:
is_ice_bag_expensive

False

In [122]:
type(is_ice_bag_expensive )

bool

In [123]:
#Booleans are automatically converted to ints when used in arithmetic operations. True is converted to 1 and False is converted to 0.
6+False
6+True

7

In [124]:
bool(False)

False

In [125]:
bool(0)

False

In [126]:
bool(0.0)

False

In [127]:
bool(None)

False

In [128]:
bool("")

False

In [129]:
bool(())

False

In [130]:
bool({})

False

In [131]:
bool(set())

False

In [132]:
bool(range(0))

False

In [133]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

In [134]:
#None

In [135]:
nothing=None

In [136]:
type(nothing)

NoneType

In [137]:
#String

In [138]:
today ="Saturday"

In [139]:
today

'Saturday'

In [140]:
type(today)

str

In [141]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [142]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [143]:
type(my_favorite_movie)

str

In [144]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'

In [145]:
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot.'

In [146]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [147]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

In [148]:
type(another_pun)

str

In [149]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun."'''

In [150]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?" \nDad: "No sun."'

In [151]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

In [152]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

In [153]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

In [154]:
len(my_favorite_movie)

31

In [155]:
#Note that special characters like \n and escaped characters like \" count as a single character, even though they are written and sometimes printed as two characters.
multiline_string = """a
b"""
multiline_string

'a\nb'

In [156]:
len(multiline_string)

3

In [157]:
#A string can be converted into a list of characters using list function.
list(multiline_string)

['a', '\n', 'b']

In [158]:
today = "Saturday"

In [159]:
today[0]

'S'

In [160]:
today[3]

'u'

In [161]:
today[5:8]

'day'

In [162]:
quote= "Be Happy"

In [163]:
quote

'Be Happy'

In [164]:
type(quote)

str

In [165]:
quote[4]

'a'

In [166]:
quote[5:-4]

''

In [167]:
quote[2:3]

' '

In [168]:
quote[4:6]

'ap'

In [169]:
'Happy' in quote

True

In [170]:
'chanchal' in quote

False

In [171]:
full_name = "Mirza Jasmine"

In [172]:
greeting = "Hello"

In [173]:
greeting + full_name

'HelloMirza Jasmine'

In [174]:
greeting + " " + full_name + "!" # additional space

'Hello Mirza Jasmine!'

In [175]:
quote.lower()

'be happy'

In [176]:
quote.upper()

'BE HAPPY'

In [177]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [178]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [179]:
a_long_line_stripped = a_long_line.strip()

In [180]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

In [181]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [182]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

In [183]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

TypeError: can only concatenate str (not "float") to str

In [184]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2'

In [185]:
#You can str to convert a value of any data type into a string.
str(23)

'23'

In [186]:
str(23.435)

'23.435'

In [187]:
str(True)

'True'

In [188]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

In [189]:
first_name= "mirza"

In [190]:
first_name=="jasmine"

False

In [191]:
first_name=="jasmin"

False

# List

In [192]:
fruits = ['apple','banana','cherry']
fruits

['apple', 'banana', 'cherry']

In [193]:
type(fruits)

list

In [194]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [195]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [196]:
empty_list = []

In [197]:
empty_list

[]

In [198]:
len(fruits)

3

In [199]:
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [200]:
len(a_list)

6

In [201]:
len(empty_list)

0

In [202]:
fruits[0]

'apple'

In [203]:
fruits[2]

'cherry'

In [204]:
fruits[4]

IndexError: list index out of range

In [205]:
fruits[-1]

'cherry'

In [206]:
fruits[-3]

'apple'

In [207]:
fruits[-4]

IndexError: list index out of range

In [208]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [209]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [210]:
len(a_list)

6

In [211]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

In [212]:
fruits

['apple', 'banana', 'cherry']

In [213]:
fruits[1]='blueberry'

In [214]:
fruits

['apple', 'blueberry', 'cherry']

In [215]:
fruits.append('dates')

In [216]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

In [217]:
fruits.insert(1,'bananA')

In [218]:
fruits

['apple', 'bananA', 'blueberry', 'cherry', 'dates']

In [219]:
fruits.insert(1, 'banana')

In [220]:
fruits

['apple', 'banana', 'bananA', 'blueberry', 'cherry', 'dates']

In [221]:
fruits.remove('blueberry')

In [222]:
fruits

['apple', 'banana', 'bananA', 'cherry', 'dates']

In [223]:
fruits.pop(1)

'banana'

In [224]:
fruits

['apple', 'bananA', 'cherry', 'dates']

In [225]:
'pineapple' in fruits

False

In [226]:
'cherry' in fruits

True

In [227]:
fruits

['apple', 'bananA', 'cherry', 'dates']

In [228]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [229]:
more_fruits

['apple',
 'bananA',
 'cherry',
 'dates',
 'pineapple',
 'tomato',
 'guava',
 'dates',
 'banana']

In [230]:
more_fruits_copy = more_fruits.copy()

In [231]:
more_fruits_copy

['apple',
 'bananA',
 'cherry',
 'dates',
 'pineapple',
 'tomato',
 'guava',
 'dates',
 'banana']

In [232]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'bananA', 'cherry', 'dates', 'tomato', 'guava', 'dates']

In [233]:
more_fruits

['apple',
 'bananA',
 'cherry',
 'dates',
 'pineapple',
 'tomato',
 'guava',
 'dates',
 'banana']

In [234]:
more_fruits_not_a_copy = more_fruits

In [235]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [236]:
more_fruits

['apple', 'bananA', 'cherry', 'dates', 'tomato', 'guava', 'dates']

# Tuple

In [237]:
fruits = ('apple', 'cherry', 'dates')

In [238]:
len(fruits)

3

In [239]:
fruits[0]

'apple'

In [240]:
fruits[-2]

'cherry'

In [241]:
'dates' in fruits

True

In [242]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [243]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [244]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

In [245]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [246]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

In [247]:
single_element_tuple = 4,

In [248]:
single_element_tuple

(4,)

In [249]:
not_a_tuple = (4)

In [250]:
not_a_tuple

4

In [251]:
#Tuples are often used to create multiple variables with a single statement.

In [252]:
point = (3, 4)

In [253]:
point_x, point_y = point

In [254]:
point_x

3

In [255]:
point_y

4

In [256]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [257]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

In [258]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [259]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [260]:
?a_tuple.index

# Dictionary

In [261]:
person1 = {
    'name': 'Mirza Jasmine',
    'sex': 'Female',
    'age': 17,
    'married': False
}

In [262]:
person1

{'name': 'Mirza Jasmine', 'sex': 'Female', 'age': 17, 'married': False}

In [263]:
person2 = dict(name='chanchal', sex='Female', age=17, married=False)

In [264]:
person2

{'name': 'chanchal', 'sex': 'Female', 'age': 17, 'married': False}

In [265]:
type(person1)

dict

In [266]:
person1['name']

'Mirza Jasmine'

In [267]:
person1['married']

False

In [268]:
person2['name']

'chanchal'

In [269]:
#If a key isn't present in the dictionary, then a KeyError is thrown.
person1['address']

KeyError: 'address'

In [270]:
person2.get("name")

'chanchal'

In [271]:
person2.get("address", "Unknown")

'Unknown'

In [272]:
'name' in person1

True

In [273]:
'address' in person1

False

In [274]:
person2['married']

False

In [275]:
person1['address'] = '1,Madhubani'

In [276]:
person1

{'name': 'Mirza Jasmine',
 'sex': 'Female',
 'age': 17,
 'married': False,
 'address': '1,Madhubani'}

In [277]:
person1.pop('address')

'1,Madhubani'

In [278]:
person1

{'name': 'Mirza Jasmine', 'sex': 'Female', 'age': 17, 'married': False}

In [279]:
#Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.
person1.items()

dict_items([('name', 'Mirza Jasmine'), ('sex', 'Female'), ('age', 17), ('married', False)])

In [280]:
person1.values()

dict_values(['Mirza Jasmine', 'Female', 17, False])

In [281]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

# python-branching-and-loops

In [282]:
#The if statement
a_number =34

In [283]:
if a_number % 2 == 0:
    print("We are inside an if block")
    print('The given number {} is even.'.format(a_number))

We are inside an if block
The given number 34 is even.

In [284]:
another_number = 33
if another_number % 2 == 0:
    print('The given number {} is even.'.format(another_number))

In [285]:
#else Statement
a_number=33
if a_number % 2==0:
    print('The given number {} is even.'.format(another_number))
else:
    print('The given number {} is odd.'.format(another_number))

The given number 33 is odd.

In [286]:
the_3_musketeers = ('Athos', 'Porthos', 'Aramis')

In [287]:
a_candidate = "D'Artagnan"

In [288]:
if a_candidate in the_3_musketeers:
    print("{} is a musketeer".format(a_candidate))
else:
    print("{} is not a musketeer".format(a_candidate))

D'Artagnan is not a musketeer

In [289]:
#elif statement

In [290]:
today = 'Wednesday'
if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

In [291]:
a_number = 15
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
elif a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))

15 is divisible by 3

In [292]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
if a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
if a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
if a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))

15 is divisible by 3
15 is divisible by 5

In [293]:
#Using if, elif, and else together
a_number = 15
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
else:
    print('All checks failed!')
    print('{} is not divisible by 2, 3 or 5'.format(a_number))

15 is divisible by 3

In [294]:
a_number = 12
if a_number % 3 == 0 and a_number % 5 == 0:
    print("The number {} is divisible by 3 and 5".format(a_number))
elif not a_number % 5 == 0:
    print("The number {} is not divisible by 5".format(a_number))

The number 12 is not divisible by 5

In [295]:
#Non-Boolean Conditions
if '':
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to False

In [296]:
if 'Hello':
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [297]:
if { 'a': 34 }:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [298]:
if None:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to False

In [299]:
#Nested conditional statements
a_number=15
if a_number % 2==0:
    print("{} is even".format(a_number))
    if a_number%3==0:
        print("{} is also divisible by 3".format(a_number))
    else:
        print("{} is not divisible by 3".format(a_number))
else:
    print("{} is odd".format(a_number))
    if a_number % 5 == 0:
        print("{} is also divisible by 5".format(a_number))
    else:
        print("{} is not divisible by 5".format(a_number))

15 is odd
15 is also divisible by 5

In [300]:
#Shorthand if conditional expression
a_number = 13

if a_number % 2 == 0:
    parity = 'even'
else:
    parity = 'odd'

print('The number {} is {}.'.format(a_number, parity))

The number 13 is odd.

In [301]:
#Statements and Expressions
# if statement
result = if a_number % 2 == 0: 
    'even'
else:
    'odd'

SyntaxError: invalid syntax (1369724345.py, line 3)

In [302]:
# if expression
result = 'even' if a_number % 2 == 0 else 'odd'

In [303]:
#The pass statement

In [304]:
a_number = 9

In [305]:
if a_number % 2 == 0:
elif a_number % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2')

IndentationError: expected an indented block (4157426157.py, line 2)

In [306]:
if a_number % 2 == 0:
    pass
elif a_number % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2'.format(a_number))

9 is divisible by 3 but not divisible by 2

# Iteration with while loops

In [307]:
result = 1
i = 1

while i <= 1000:
    result = result * i
    i = i+1

print('The factorial of 100 is: {}'.format(result))

The factorial of 100 is: 402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [308]:
%%time

result = 1
i = 1

while i <= 1000:
    result *= i # same as result = result * i
    i += 1 # same as i = i+1

print(result)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
CPU times: user 2.99 ms, sys: 461 s, total: 3.45 ms
Wall time: 3.07 ms

In [309]:
line = '*'
max_length = 2

while len(line) < max_length:
    print(line)
    line += "*"
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
*

In [ ]:
line = '*'
max_length = 10

while len(line) < max_length:
    print(line)
    line += "*"
    
while len(line) > 0:
    print(line)
    line = line[:]

In [ ]:
# INFINITE LOOP - INTERRUPT THIS CELL

result = 1
i = 1

while i <= 100:
    result = result * i
    # forgot to increment i

In [ ]:
# INFINITE LOOP - INTERRUPT THIS CELL

result = 1
i = 1

while i > 0 : # wrong condition
    result *= i
    i += 1

In [311]:
#break and continue statement
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    i += 1
    
print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000

In [312]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    
print('i:', i)
print('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i: 20
result: 654729075

In [313]:
#Iteration with for loops
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [314]:
# Looping over a string
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [315]:
# Looping over a tuple
for fruit in ('Apple', 'Banana', 'Guava'):
    print("Here's a fruit:", fruit)

Here's a fruit: Apple
Here's a fruit: Banana
Here's a fruit: Guava

In [316]:
 # Looping over a dictionary
person = {
    'name': 'Mirza Jasmine',
    'sex': 'Female',
    'age': 17,
    'married': False
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: Mirza Jasmine
Key: sex , Value: Female
Key: age , Value: 17
Key: married , Value: False

In [317]:
for value in person.values():
    print(value)

Mirza Jasmine
Female
17
False

In [318]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'Mirza Jasmine')
('sex', 'Female')
('age', 17)
('married', False)

In [319]:
for key, value in person.items():
    print("Key:", key, ",", "Value:", value)

Key: name , Value: Mirza Jasmine
Key: sex , Value: Female
Key: age , Value: 17
Key: married , Value: False

In [320]:
#Iterating using range and enumerate
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [321]:
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [322]:
for i in range(3, 14, 4):
    print(i)

3
7
11

In [324]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday','Sunday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.
The value at position 5 is Saturday.
The value at position 6 is Sunday.

In [325]:
for i, val in enumerate(a_list):
    print('The value at position {} is {}.'.format(i, val))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.
The value at position 5 is Saturday.
The value at position 6 is Sunday.

In [326]:
#break, continue and pass statements
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [327]:
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [328]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday

In [329]:
for day in weekdays:
    pass

In [330]:
persons = [{'name': 'Mirza', 'sex': 'female'}, {'name': 'Jasmine', 'sex': 'Female'}]

for person in persons:
    for key in person:
        print(key, ":", person[key])
    print(" ")

name : Mirza
sex : female

name : Jasmine
sex : Female

In [331]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava

In [332]:
#Function
today="Tuesday"
print("Today is", today)

Today is Tuesday

In [335]:
def say_hello():
    print('Hello Chanchal!')
    print('How are you?')

In [336]:
say_hello()

Hello Chanchal!
How are you?

In [337]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [338]:
number_list=[1,2,3,4,5,6,7]

In [339]:
result_list=[]

In [340]:
for number in number_list:
    print("number:",number)
    if number % 2 == 0:
        print("number is even,adding to list")
        result_list.append(number)

number: 1
number: 2
number is even,adding to list
number: 3
number: 4
number is even,adding to list
number: 5
number: 6
number is even,adding to list
number: 7

In [343]:
result_list

[2, 4, 6]

In [344]:
even_list=filter_even([1,2,3,4,5,6,7,8])

In [345]:
even_list

[2, 4, 6, 8]

In [348]:
def loan_emi(amount):
    emi=amount/12
    print('The EMI is ${}'.format(emi))

In [349]:
loan_emi(1260000)

The EMI is $105000.0

In [350]:
def loan_emi(amount,duration):
    emi=amount/duration
    print('The EMI is ${}' .format(emi))

In [351]:
emi

NameError: name 'emi' is not defined

In [352]:
amount

NameError: name 'amount' is not defined

In [353]:
duration

NameError: name 'duration' is not defined

In [355]:
loan_emi(1260000,8*12)

The EMI is $13125.0

In [356]:
loan_emi(1260000,10*12)

The EMI is $10500.0

In [1]:
def loan_emi(amount,duration):
    emi=amount/duration
    return emi

In [2]:
emi1 = loan_emi(1260000, 8*12)

In [3]:
emi2 = loan_emi(1260000, 10*12)

In [4]:
emi1

13125.0

In [5]:
emi2

10500.0

In [7]:
def loan_emi(amount,duration,down_payment=0):
    loan_amount=amount-down_payment
    emi=loan_amount/duration
    return emi

In [8]:
emi1 = loan_emi(1260000, 8*12, 3e5)

In [9]:
emi1

10000.0

In [10]:
emi2=loan_emi(1260000,10*12)

In [11]:
emi2

10500.0

In [14]:
def loan_emi(amount,duration,rate,down_payment=0):
    loan_amount= amount-down_payment
    emi=loan_amount*rate*((1+rate)**duration)/(((1+rate)**duration)-1)
    return emi

In [15]:
loan_emi(1260000, 8*12, 0.1/12, 3e5)

14567.19753389219

In [16]:
loan_emi(1260000, 10*12, 0.1/12, 3e5)

12686.470740649145

In [19]:
emi1= loan_emi(
    amount=1260000,
    duration=8*12,
    rate=0.1/12,
    down_payment=3e5
)

In [20]:
emi1= loan_emi(
    amount=1260000,
    duration=8*12,
    rate=0.1/12,
    down_payment=3e5
)

In [21]:
emi1

14567.19753389219

In [22]:
emi2 = loan_emi(amount=1260000, duration=10*12, rate=0.08/12)

In [23]:
emi2

15287.276888775077

In [24]:
#imported python lib

In [25]:
import math

In [26]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [27]:
math.ceil(2.5)

3

In [28]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [31]:
emi1 = loan_emi(
    amount=1260000, 
    duration=8*12, 
    rate=0.1/12, 
    down_payment=3e5
)

In [32]:
emi1

14568

In [33]:
emi2 = loan_emi(amount=1260000, duration=10*12, rate=0.08/12)

In [34]:
emi2

15288

In [38]:
if emi1<emi2:
    print("Option1 has lower emi: ${}" .format(emi1))
else:
    print("Option2 has lower emi: ${}" .format(emi2))

Option1 has lower emi: $14568

In [39]:
cost_of_house = 800000
home_loan_duration = 6*12 # months
home_loan_rate = 0.07/12 # monthly
home_down_payment = .25 * 800000

emi_house = loan_emi(amount=cost_of_house,
                     duration=home_loan_duration,
                     rate=home_loan_rate, 
                     down_payment=home_down_payment)

emi_house

10230

In [40]:
cost_of_car = 60000
car_loan_duration = 1*12 # months
car_loan_rate = .12/12 # monthly

emi_car = loan_emi(amount=cost_of_car, 
                   duration=car_loan_duration, 
                   rate=car_loan_rate)

emi_car

5331

In [41]:
print("Shaun makes a total monthly payment of ${} towards loan repayments.".format(emi_house+emi_car))

Shaun makes a total monthly payment of $15561 towards loan repayments.

In [42]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)
emi_with_interest

1267

In [43]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0./12)
emi_without_interest

ZeroDivisionError: float division by zero

In [45]:
try:
    print("Now computing the result..")
    result = 5 / 6
    print("Computation was completed successfully")
except ZeroDivisionError:
    print("Failed to compute result because you were trying to divide by zero")
    result = None

print(result)

Now computing the result..
Computation was completed successfully
0.8333333333333334

In [46]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [47]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)
emi_with_interest

1267

In [48]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0)
emi_without_interest

834

In [49]:
total_interest = (emi_with_interest - emi_without_interest) * 10*12

In [50]:
print("The total interest paid is ${}.".format(total_interest))

The total interest paid is $51960.

In [51]:
def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [52]:
help(loan_emi)

Help on function loan_emi in module __main__:

loan_emi(amount, duration, rate, down_payment=0)
    Calculates the equal montly installment (EMI) for a loan.

    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)

#Interacting with the OS and filesystem

In [53]:
import os

In [54]:
#We can check the present working directory using the os.getcwd function.
os.getcwd()

'/Users/chanchalalam'

In [55]:
help(os.listdir)

Help on built-in function listdir in module posix:

listdir(path=None)
    Return a list containing the names of the files in the directory.

    path can be specified as either str, bytes, or a path-like object.  If path is bytes,
      the filenames returned will also be bytes; in all other circumstances
      the filenames returned will be str.
    If path is None, uses the path='.'.
    On some platforms, path may also be specified as an open file descriptor;\
      the file descriptor must refer to a directory.
      If this functionality is unavailable, using it raises NotImplementedError.

    The list is in arbitrary order.  It does not include the special
    entries '.' and '..' even if they are present in the directory.

In [56]:
os.listdir('.') # relative path

['file.txt',
 '.config',
 'Music',
 '.condarc',
 'Pandas-Series.ipynb',
 'ChildCalculator.ipynb',
 '.DS_Store',
 'VirtualBox VMs',
 '.CFUserTextEncoding',
 '.xonshrc',
 '.zshrc',
 '.packettracer',
 'Pictures',
 'Child Nutrient Calculator - Project.ipynb',
 '.atom',
 '.zprofile',
 'Panda-DataFrames.ipynb',
 '.file.txt.swp',
 'month.sh',
 '.zsh_history',
 '.ipython',
 'Desktop',
 'Library',
 '.matplotlib',
 'Python Basic.ipynb',
 '.oracle_jre_usage',
 '.spyder-py3',
 'fibonacci.sh',
 '.android',
 'Numpy Part-1.ipynb',
 'PacketTracer7',
 'PycharmProjects',
 'Public',
 '.idlerc',
 '.tcshrc',
 'Roughhh Workkkk.ipynb',
 '.anaconda',
 'Movies',
 'Applications',
 '.Trash',
 'IdeaProjects',
 '.ipynb_checkpoints',
 '.jupyter',
 'Documents',
 'Numpy Part-2.ipynb',
 '.vscode',
 '.bash_profile',
 'BS.ipynb',
 'Downloads',
 '.continuum',
 '.cache',
 '.viminfo',
 '.zsh_sessions',
 '.conda']

In [57]:
os.listdir('/')

['home',
 'usr',
 'bin',
 'sbin',
 '.file',
 'etc',
 'var',
 'Library',
 'System',
 '.VolumeIcon.icns',
 'private',
 '.vol',
 'Users',
 'Applications',
 'opt',
 'dev',
 'Volumes',
 'tmp',
 'cores']

In [58]:
os.listdir('/usr')

['bin',
 'standalone',
 'libexec',
 'sbin',
 'local',
 'lib',
 'X11',
 'X11R6',
 'share']

In [59]:
os.makedirs('./data',exist_ok=True)

In [62]:
'data' in os.listdir('.')

True

In [68]:
os.listdir('./data')

['loans2.txt', 'loans1.txt']

In [64]:
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [65]:
from urllib.request import urlretrieve

In [66]:
urlretrieve(url1, './data/loans1.txt')

('./data/loans1.txt', <http.client.HTTPMessage at 0x7f78182256d0>)

In [67]:
urlretrieve(url2, './data/loans2.txt')

('./data/loans2.txt', <http.client.HTTPMessage at 0x7f77f008b970>)

In [69]:
urlretrieve(url3, './data/loans3.txt')

('./data/loans3.txt', <http.client.HTTPMessage at 0x7f77f008b430>)

In [70]:
# verify that the files were downloaded.
os.listdir('./data')

['loans2.txt', 'loans3.txt', 'loans1.txt']

In [71]:
#Reading from a file
file1 = open('./data/loans1.txt', mode='r')

In [72]:
file1_contents = file1.read()

In [73]:
print(file1_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [74]:
file1.close()

In [75]:
file1.read()

ValueError: I/O operation on closed file.

In [78]:
#Closing files automatically using with
with open('./data/loans2.txt') as file2:
    file2_contents = file2.read()
    print(file2_contents)

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [79]:
file2.read()

ValueError: I/O operation on closed file.

In [83]:
#Reading a file line by line
with open('./data/loans3.txt','r') as file3:
    file3_lines = file3.readlines()

In [84]:
file3_lines

['amount,duration,rate,down_payment\n',
 '45230,48,0.07,4300\n',
 '883000,16,0.14,\n',
 '100000,12,0.1,\n',
 '728400,120,0.12,100000\n',
 '3637400,240,0.06,\n',
 '82900,90,0.07,8900\n',
 '316000,16,0.13,\n',
 '15230,48,0.08,4300\n',
 '991360,99,0.08,\n',
 '323000,27,0.09,4720010000,36,0.08,20000\n',
 '528400,120,0.11,100000\n',
 '8633400,240,0.06,\n',
 '12900,90,0.08,8900']

In [85]:
#Processing data from files
#parse_header that takes a line as input and returns a list of column headers.
def parse_headers(header_line):
    return header_line.strip().split(',')
#The strip method removes any extra spaces and the newline character \n. The split method breaks a string into a list using the given separator (, in this case).

In [86]:
file3_lines[0]

'amount,duration,rate,down_payment\n'

In [87]:
headers = parse_headers(file3_lines[0])

In [88]:
headers

['amount', 'duration', 'rate', 'down_payment']

In [89]:
#parse_value that takes a line containing some data and returns a list of floating numbers
def parse_values(data_line):
    values=[]
    for item in data_line.strip().split(','):
        values.append(float(item))
    return values

In [90]:
file3_lines[1]

'45230,48,0.07,4300\n'

In [91]:
parse_values(file3_lines[1])

[45230.0, 48.0, 0.07, 4300.0]

In [92]:
file3_lines[2]

'883000,16,0.14,\n'

In [94]:
parse_values(file3_lines[2])

ValueError: could not convert string to float: ''

In [99]:
def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

In [100]:
file3_lines[2]

'883000,16,0.14,\n'

In [101]:
parse_values(file3_lines[2])

[883000.0, 16.0, 0.14, 0.0]

In [102]:
def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

In [103]:
for item in zip([1,2,3], ['a', 'b', 'c']):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [104]:
file3_lines[1]

'45230,48,0.07,4300\n'

In [105]:
values1 = parse_values(file3_lines[1])
create_item_dict(values1, headers)

{'amount': 45230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}

In [106]:
def read_csv(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            # Create a dictionary using values & headers
            item_dict = create_item_dict(values, headers)
            # Add the dictionary to the result
            result.append(item_dict)
    return result

In [107]:
with open('./data/loans2.txt') as file2:
    print(file2.read())

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [108]:
read_csv('./data/loans2.txt')

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 4633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0},
 {'amount': 983000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}]

In [109]:
def parse_headers(header_line):
    return header_line.strip().split(',')

def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

def read_csv(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            # Create a dictionary using values & headers
            item_dict = create_item_dict(values, headers)
            # Add the dictionary to the result
            result.append(item_dict)
    return result

In [110]:
import math

def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [111]:
loans2 = read_csv('./data/loans2.txt')

In [112]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 4633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0},
 {'amount': 983000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}]

In [113]:
for loan in loans2:
    loan['emi'] = loan_emi(loan['amount'], 
                           loan['duration'], 
                           loan['rate']/12, # the CSV contains yearly rates
                           loan['down_payment'])

In [114]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 10034},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33196},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 504},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 67707},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 262}]

In [115]:
def compute_emis(loans):
    for loan in loans:
        loan['emi'] = loan_emi(
            loan['amount'], 
            loan['duration'], 
            loan['rate']/12, # the CSV contains yearly rates
            loan['down_payment'])

In [118]:
#Writing to files
loans2 = read_csv('./data/loans2.txt')

In [119]:
compute_emis(loans2)

In [120]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 10034},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33196},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 504},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 67707},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 262}]

In [121]:
with open('./data/emis2.txt', 'w') as f:
    for loan in loans2:
        f.write('{},{},{},{},{}\n'.format(
            loan['amount'], 
            loan['duration'], 
            loan['rate'], 
            loan['down_payment'], 
            loan['emi']))

In [122]:
os.listdir('data')

['loans2.txt', 'loans3.txt', 'loans1.txt', 'emis2.txt']

In [123]:
with open('./data/emis2.txt', 'r') as f:
    print(f.read())

828400.0,120.0,0.11,100000.0,10034
4633400.0,240.0,0.06,0.0,33196
42900.0,90.0,0.08,8900.0,504
983000.0,16.0,0.14,0.0,67707
15230.0,48.0,0.07,4300.0,262

In [124]:
def write_csv(items, path):
    # Open the file in write mode
    with open(path, 'w') as f:
        # Return if there's nothing to write
        if len(items) == 0:
            return
        
        # Write the headers in the first line
        headers = list(items[0].keys())
        f.write(','.join(headers) + '\n')
        
        # Write one item per line
        for item in items:
            values = []
            for header in headers:
                values.append(str(item.get(header, "")))
            f.write(','.join(values) + "\n")

In [125]:
loans3 = read_csv('./data/loans3.txt')

In [126]:
compute_emis(loans3)

In [127]:
write_csv(loans3, './data/emis3.txt')

In [128]:
with open('./data/emis3.txt', 'r') as f:
    print(f.read())

amount,duration,rate,down_payment,emi
45230.0,48.0,0.07,4300.0,981
883000.0,16.0,0.14,0.0,60819
100000.0,12.0,0.1,0.0,8792
728400.0,120.0,0.12,100000.0,9016
3637400.0,240.0,0.06,0.0,26060
82900.0,90.0,0.07,8900.0,1060
316000.0,16.0,0.13,0.0,21618
15230.0,48.0,0.08,4300.0,267
991360.0,99.0,0.08,0.0,13712
323000.0,27.0,0.09,4720010000.0,-193751447
528400.0,120.0,0.11,100000.0,5902
8633400.0,240.0,0.06,0.0,61853
12900.0,90.0,0.08,8900.0,60

In [129]:
for i in range(1,4):
    loans = read_csv('./data/loans{}.txt'.format(i))
    compute_emis(loans)
    write_csv(loans, './data/emis{}.txt'.format(i))

In [130]:
os.listdir('./data')

['loans2.txt',
 'loans3.txt',
 'loans1.txt',
 'emis3.txt',
 'emis2.txt',
 'emis1.txt']